__pycache__/
*.pyc
.DS_Store
.venv/
*.egg-info/
data/
models/
examples/
selfdoc/

edict/
ms-agent/
agentscope/
/langgraph/
crewAI/

owl/
AgentMesh/
autogen/
Clawith/
anything-llm/

openclaw/
docs/
selfskills/